<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

<section class="faq">
<div class="container">
<div class="faq-outter">
<h2 class="section-heading">Frequently Asked Questions</h2>
</div>
<div id="vue-faq">
    <ul id="faq-container">
        <li v-for="item in items" :key="item.message">
           <p> ${ item.message } </p>
           <faq-item></faq-item>
        </li>
    </ul>
    
</div>
</div>
</section>

<script>
    const FAQ =  {
      template: '<p> this could be the answer </p>'
    }

  const app = new Vue({
    el: '#vue-faq',
    data: {
      items: [
      { message: 'Is this a question?' },
      { message: 'Is this also a question?' }
    ]
    },
    delimiters: ['${', '}'],
    components: {
        'faq-item': FAQ
    }
  })


</script>


{% schema %}
{
"name": "FAQ",
"settings": [],
"presets": [
{
"name": "FAQ",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}