<section id="faqs" >
    <div class="container">
        <div class="section-header text-center">
            <h2>Frequently Asked Questions</h2>
        </div>
        <button class="accordion">Is this a question?</button>
        <div class="panel">
            <p>It most certainly is!</p>
        </div>
        <button class="accordion">Is this also a question?</button>
        <div class="panel">
            <p>Seems likely...</p>
        </div>
    </div>
</section>

<script type="text/javascript">

const acc = document.getElementsByClassName("accordion");
let i;
for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        const panel = this.nextElementSibling;
        
        if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
        } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
        }
    });
}
</script>

{% schema %}
{
"name": "FAQS",
"settings": [
    {   
        "id": "faqs",
        "type": "text",
        "label": "Heading",
        "default": "Frequently Asked Questions"
    }
],
"blocks": [
    {
        "type": "faq",
        "name": "FAQ"
    },
    settings: [
        {
            type: "text",
            id: "question",
            "label": "Question"
            "default": "Frequently Asked Question"
        },
        {
            "type": "text",
            "id": "answer",
            "label": "Answer"
            "default": "Answer"
        },

    ]
],
"presets": [
    {
        "name": "FAQS",
        "category": "ADVANCED LAYOUT"
        "blocks": [
            {
                "type": "faq"
            },
            {
                "type": "faq"
            }
        ]
    }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}