<section class="faq">
<div class="container">
<div class="faq-outter">
<h2 class="section-heading">Frequently Asked Questions</h2>
</div>
<p> Is this a question ? </p>
</div>
</section>
{% schema %}
{
"name": "FAQ",
"settings": [],
"presets": [
{
"name": "FAQ",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}