<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

<section class="faq">
<div class="container">
<div class="faq-outter">
<h2 class="section-heading">Frequently Asked Questions</h2>
</div>
<div id="vue-faq">
    <ul id="faq-container">
        <li v-for="item in items" :key="item.message">
           <p> ${ item.question } </p>
            <faq-item v-bind:answer="item.answer"></faq-item>
        </li>
    </ul>
    
</div>
</div>
</section>

<script>
    const FAQ =  {
        props: ['answer'],
        delimiters: ['${', '}'],
        template: '<p> ${ answer } </p>',
        mounted: function() {
          console.log('here are your props', this.answer)
      }
    }

  const app = new Vue({
    el: '#vue-faq',
    data: {
      items: [
      { question: 'Is this a question?', answer: "It most certainly is" },
      { question: 'Is this also a question?', answer: "Bih, it might be!" }
    ]
    },
    delimiters: ['${', '}'],
    components: {
        'faq-item': FAQ
    }
  })


</script>


{% schema %}
{
"name": "FAQ",
"settings": [],
"presets": [
{
"name": "FAQ",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}